

video.welcome-screen {
    position: absolute;
    z-index : 128;
    width: 100%;
    height: 100%;
    background-color: black;
    margin: 0px;
    padding: 0px;
    opacity: 1;
}

video.welcome-screen-fade-out {
    transition: opacity 1s ease-in-out;
    opacity: 0;
}