
/* <aero-slide> */
div.apps-grid {
	display: flex;
	flex-direction: row;
	padding: 16px 4% 16px 4%;
	width: 100%;
	height: 200px;
	overflow: scroll;
}

div.app {
	padding: 8px;
	width: 108px;
	height: 128px;
}

div.app > div:nth-child(1) {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 100px;
	width: 100px;
	border-radius: 8px;
	margin: 0px 4px 0px 4px;
}

div.app > div:nth-child(2) {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
		sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: white;
	z-index: 4;
	padding: 2px 4px 0px 4px;
	text-align: center;
	
}

div.selected > div:nth-child(1) {
	border: solid 2px red;
}