/*
ensure that all HTML elements have the box-sizing property 
set to border-box. This makes sure that the padding and 
border are included in the total width and height of 
the elements
*/
* {
	box-sizing: content-box;
}

body {
	background-color: black;
	/*
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		*/
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
		sans-serif;
	margin: 0px;
}
