

/* <a> */

.link-button2-group {
	display: flex;
	flex-direction: row;
	padding: 8px;
}

link-button2 {
	display: block;
    margin: 8px;
}

link-button2>a {
	color: white;
	font-size: 14px;
	font-weight: bold;
    padding: 4px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
	background-color: #3862fbca;
	/*background-image: linear-gradient(to right, #3525e5 0%, #3525e5  20%, #b214d2 100%);*/
	border-radius: 8px;
	cursor: pointer;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.367);
	text-decoration: none;
	z-index: 64;
}

link-button2>a:hover {
	background-color: #476bed;
}

.link-button2-pic {
	width: 24px;
	height: 24px;
	margin: 0px;
	padding: 0px;
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
}

.link-button2-pic > svg {
	stroke: #ffffff;
	fill: #ffffff;
}

.link-button2-text {
	padding-bottom: 2px;
	font-size: 14px;
	margin-left: 8px;
	color: #ffffff;
}



link-button2>a:hover .link-button2-pic > svg {
	stroke: white;
	fill: white;
}

link-button2>a:hover .link-button2-text{
	color: white;
}

/* <a:styles> */

link-button2>a[type="marketing"] {
	padding: 12px 24px;
	border-radius: 8px;
}

link-button2>a[type="marketing"] .link-button2-text {
	font-size: 20px;
	padding-bottom: 0px;
	font-weight: bold;
}

/* </a:styles> */

/* <a:color> */
link-button2>a[color="resource"] {
	color: white;
	background-color: #3862fbca;
}

link-button2>a[color="resource"]:hover {
	background-color: #7291ff;
}

link-button2>a[color="doc"] {
	color: white;
	background-color: #008925ca;
}

link-button2>a[color="doc"]:hover {
	background-color: #02c035ca;
}

/* </a:color> */

