/* <t2-slide> */
t2-slide {
	position: relative;
	display: block;
	margin: 0px;
	padding: 0px;
	position: relative;
	box-sizing: content-box;
	background-position: center;


	height: 920px;
	width: 100%;
	box-sizing: border-box;
	overflow-x: scroll;
}


/* <themes> */
t2-slide[theme="light"] {
	color: black;
	/*backdrop-filter: blur(12px);*/
	/*text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.75);*/
	/*text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75);*/
}

t2-slide[theme="dark"] {
	color: white;
	/*backdrop-filter: blur(12px);*/
	/*text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.75);*/
}

/* </themes> */



.t2-slide-wrapper {
	position: absolute;
	display: grid;
	/* Colonnes de 200px chacune, autant que possible dans la largeur disponible */
	/* grid-auto-columns: 200px; */
	grid-template-columns: repeat(auto-fill, 256px);
	/* Toutes les lignes font 200px de haut */
	grid-auto-rows: 256px;
	grid-auto-flow: dense row;
	gap: 32px;
}


@media (orientation : landscape) {
	.t2-slide-wrapper {
		grid-template-columns: repeat(auto-fill, 256px);
		/* Toutes les lignes font 200px de haut */
		grid-auto-rows: 256px;
		gap: 32px;
		width: 76%;
		margin: 32px;
	}

	t2-slide[arrangement="top-left"]>div.t2-slide-wrapper {
		top: 0px;
		left: 0px;
	}

	t2-slide[arrangement="top-right"]>div.t2-slide-wrapper {
		top: 0px;
		right: 0px;
	}

	t2-slide[arrangement="bottom-right"]>div.t2-slide-wrapper {
		bottom: 0px;
		right: 0px;
	}

	t2-slide[arrangement="bottom-left"]>div.t2-slide-wrapper {
		bottom: 0px;
		left: 0px;
	}
}

@media (orientation : portrait) {
	.t2-slide-wrapper {
		width: 92%;
		margin: 32px 0 32px 0;
		grid-template-columns: repeat(auto-fill, calc(50vw - 32px));
		/* Toutes les lignes font 200px de haut */
		grid-auto-rows: calc(50vw - 32px);
		gap: 32px;
		left: 50%;
		/* Move the left edge to the center of the parent */
		transform: translateX(-50%);
		/* Then shift it back left by half its own width */
	}

	t2-slide[arrangement="top-left"]>div.t2-slide-wrapper,
	t2-slide[arrangement="top-right"]>div.t2-slide-wrapper {
		top: 0px;
	}

	t2-slide[arrangement="bottom-right"]>div.t2-slide-wrapper,
	t2-slide[arrangement="bottom-left"]>div.t2-slide-wrapper {
		bottom: 0px;
	}
}






/* <asset> */

div.t2-slide-picture {
	padding: 0px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 2;
	aspect-ratio: 3 / 2;
	/*overflow: auto;*/
}

/* <asset> */



@media (orientation : portrait) {
	div.t2-slide-picture {
		margin: 0px 0px 0px 0px;
		width: 100%;
		height: 50%;
	}

	t2-slide[type="hThird"]>.t2-slide-picture {
		margin: 32px 32px 32px 32px;
		background-size: contain;
	}

	t2-slide[type="hThird"] {
		display: flex;
		flex-direction: row-reverse;
		padding: 8px 16% 8px 16%;
	}

}



/* <arrangements> */
@media (orientation : landscape) {


	t2-slide[arrangement="text-up"] {
		flex-direction: column;
	}

	t2-slide[arrangement="text-down"] {
		flex-direction: column-reverse;
	}

	t2-slide[arrangement="text-left"] {
		flex-direction: row;
	}

	t2-slide[arrangement="text-right"] {
		flex-direction: row-reverse;
	}

}


@media (orientation : landscape) {

	t2-slide[arrangement="text-left"]>div.t2-slide-text,
	t2-slide[arrangement="text-right"]>div.t2-slide-text {
		margin: 0px 0px 0px 0px;
		padding: 8px 8% 8px 8%;
		width: 50%;
	}

	t2-slide[arrangement="text-left"]>div.t2-slide-picture,
	t2-slide[arrangement="text-right"]>div.t2-slide-picture {
		margin: 0px 0px 0px 0px;
		padding: 0px;
		width: 50%;
		background-size: cover;
	}

	t2-slide[arrangement="text-up"]>div.t2-slide-text,
	t2-slide[arrangement="text-down"]>div.t2-slide-text {
		margin: 0px 0px 0px 0px;
		padding: 8px 8% 8px 8%;
	}

	t2-slide[arrangement="text-up"]>div.t2-slide-picture,
	t2-slide[arrangement="text-down"]>div.t2-slide-picture {
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: auto;
		margin-right: auto;
		padding: 4%;
		width: 50%;
		background-size: contain;
	}

	t2-slide[type="hThird"]>.t2-slide-picture {
		margin: 32px 32px 32px 32px;
		background-size: contain;
	}
}


@media (orientation : portrait) {
	div.t2-slide-text {
		margin: 0px 0px 0px 0px;
		padding: 8px 4% 8px 4%;
	}
}

/* </arrangements> */




t2-slide-box {
	display: block;
	padding: 16px;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.24);
	border-radius: 16px;
	border: 1px radius rgba(255, 255, 255, 0.205);
	backdrop-filter: blur(24px);
}


/* <h1> */
t2-slide-box>h1 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: bold;
	max-width: 92%;
	padding: 8px;
	border-radius: 4px;
	margin: 0px;
	z-index: 8;
	text-align: left;
}


t2-slide-box>h1>b {
	font-weight: 800;
}

@media (orientation : landscape) {
	t2-slide-box>h1 {
		font-size: 64px;
	}
}

@media (orientation : portrait) {
	t2-slide-box>h1 {
		font-size: 32px;
	}
}

t2-slide-box>h1>span.emphasis {
	font-weight: bold;
}

/* </h1> */


/* <h2> */
t2-slide-box>h2 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 24px;
	font-weight: normal;
	max-width: 92%;
	padding: 8px;
	border-radius: 4px;
	/*white-space: nowrap;*/
	margin: 0px;
	z-index: 6;
	text-align: left;
}

t2-slide[theme="dark"] h2 {
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.804);
	/* offset-x | offset-y | blur-radius | color */
}

t2-slide[theme="light"] h2 {
	text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.804);
	/* offset-x | offset-y | blur-radius | color */
}

t2-slide h2>b {
	font-weight: 800;
	background-color: yellow;
}

@media (orientation : landscape) {
	t2-slide-box>h2 {
		font-size: 32px;
	}
}

@media (orientation : portrait) {
	t2-slide-box>h2 {
		font-size: 24px;
	}
}

/* </h2> */

/* <p> */
t2-slide-box>p {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
		sans-serif;
	font-size: 20px;
	font-weight: normal;
	text-align: left;
	z-index: 4;
	padding: 0px 0px 0px 0px;
	padding: 6px 6px 6px 8px;
	border-radius: 4px;
	margin: 0px;
}

t2-slide[theme="dark"] p {
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.804);
	/* offset-x | offset-y | blur-radius | color */
}

t2-slide[theme="light"] p {
	text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.216);
	/* offset-x | offset-y | blur-radius | color */
}

t2-slide p>b {
	font-weight: 800;
	background-color: yellow;
}

@media (orientation : landscape) {
	t2-slide-box>p {
		font-size: 20px;
	}
}

@media (orientation : portrait) {
	t2-slide-box>p {
		font-size: 20px;
	}
}



/* </p> */


t2-slide-button {
	padding: 16px;
	box-sizing: border-box;
	border-radius: 16px;
	backdrop-filter: blur(12px);
	display: grid;
	grid-template-columns: 152px 64px;
	grid-template-rows: 152px 64px;
	gap: 8px;
	background-color: rgba(97, 52, 231, 0.587);
	box-shadow: azure 0px 0px 16px;
	cursor: pointer;
}

t2-slide-button:hover {
	background-color: violet;
}


.t2-slide-button-text {
	vertical-align: middle;
	grid-row: 1 / span 1;
	grid-column: 1 / span 2;
	max-width: 100%;
	overflow: hidden;
	/* ensures it never exceeds container */
}

.t2-slide-button-text>p {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
		sans-serif;
	font-weight: normal;
	word-wrap: break-word;
	/* breaks long words if needed */
	color: white;
	margin: 8px 0px 8px 0px;
	font-size: 24px;
	font-weight: normal;
}

.t2-slide-button-icon {
	grid-column: 2;
	grid-row: 2;
}

.t2-slide-button-icon>svg {
	stroke: white;
	width: 64px;
	height: 64px;
}


@media (orientation : landscape) {
	t2-slide-button {
		grid-template-columns: 152px 64px;
		grid-template-rows: 152px 64px;
		gap: 8px;
	}

	.t2-slide-button-text>p{
		font-size: 24px;
	}

	.t2-slide-button-icon>svg {
		stroke: white;
		width: 64px;
		height: 64px;
	}
}

@media (orientation : portrait) {

	t2-slide-button {
		grid-template-columns: 2fr 1fr;
		grid-template-rows: 2fr 1fr;
		gap: 8px;
	}

	.t2-slide-button-text>p{
		font-size: 20px;
	}

	.t2-slide-button-icon>svg {
		stroke: white;
		width: 32px;
		height: 32px;
	}
}

/* <t2-slide-prime> */

/* <t2-slide-background-image> */

t2-slide-background-picture {
	display: block;
	padding: 0px;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 2;
	aspect-ratio: 3 / 2;
	overflow: hidden;     /* This is the key! */
}

t2-slide-background-picture>img {
	display: block;
	height: 100%;
	width: auto;
	object-fit: cover;
}


/* </t2-slide-background-image> */