/* <header> */
header {
	background-color: rgb(255, 255, 255);
	/*width: 100%;*/
	height: 64px;
	padding: 0px 8% 0px 8%;

	border-bottom: solid 1px rgba(64, 64, 64, 0.5);
	color: black;
}


.aero-header-menu > a {
	color: rgb(64, 64, 64);
	text-decoration: none;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 20px;
	font-weight: normal;
}





/* <nav> */

@media (orientation : landscape) {
	header {
		height: 64px;
		display: flex;
		flex-direction: row;
	}

	header>* {
		flex: auto;
	}

	div.menu-logo {
		width: 80px;
	}

	div.menu-logo>img {
		margin: 8px 16px 8px 16px;
		height: 48px;
		width: 48px;
	}

	nav {
		z-index: 12;
		width: calc(100% - 128px);
	}

	@media screen and (max-width: 600px) {
		nav {
			width: calc(100% - 64px);
		}
	}

	nav>ul {
		margin: 0px 0px 0px 0px;
		margin-inline-start: 0px;
		padding-inline-start: 0px;
	}

	.aero-header-menu {
		display: inline-block;
		color: red;
		text-decoration: none;
        padding: 8px 12px 4px 12px;
		line-height: 48px;
		height: 48px;
		cursor: pointer;
	}

	.aero-header-menu[selected] {
		border-bottom: solid 4px rgb(224, 149, 0);
	}

	.aero-header-menu > a {
        padding: 8px 12px 8px 12px;
		margin: 0px;
		vertical-align: baseline;
	}

	.aero-header-menu:hover > a {
		background-color: rgb(199, 204, 208);
		border-radius: 4px;
		color: rgb(24, 24, 24);
	}

}


@media (orientation : portrait) {
	header {
		height: 64px;
		padding: 0px 0px 0px 0px;
	}


	.aero-menu-icons-wrapper {
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
	}

	div.menu-handler {
		display: inline-block;
		vertical-align: top;
		padding: 0px;
		margin: 0px 0px 0px 0px;
	}

	div.menu-handler>img {
		margin: 14px 14px 14px 14px;
		/*height: 48px;*/
		width: 36px;
	}

	div.menu-logo {
		display: inline-block;
		vertical-align: top;
		width: 80px;
		margin: 0px 0px 0px calc(50vw - 96px);
	}

	div.menu-logo>img {
		margin: 3px 0px 0px 0px;
		width: 56px;
	}


	nav {
		z-index: 12;
        width: 80vw;
        position: absolute;
        top: 72px;
        left: 50vw;
        transform: translateX(-50%);
        padding: 0px;
        visibility: hidden;
        background-color: white;
        border: solid 1px rgb(192, 192, 192);
	}

	@media screen and (max-width: 600px) {
		nav {
			width: calc(100% - 64px);
		}
	}

	nav>ul {
		margin: 0px 0px 0px 0px;
		margin-inline-start: 0px;
		padding-inline-start: 0px;
	}

	.aero-header-menu {
		display: block;
		color: red;
		text-decoration: none;
		padding: 12px 12px 12px 12px;
		border-top: solid 1px rgb(194, 194, 194);
	}

	.aero-header-menu:first-child {
		border-top: none;
	}

	.aero-header-menu:hover > a {
		background-color: rgb(199, 204, 208);
		border-radius: 4px;
	}

	.aero-header-menu[selected] {
		border-left: solid 8px rgb(224, 149, 0);
	}

	.aero-header-menu > a {
		font-weight: lighter;
		line-height: 48px;
		height: 48px;
		/*padding: 0px;*/
		padding: 8px 8px 8px 8px;
		margin: 0px;
		vertical-align: baseline;
	}
}

/* </nav> */

/* </header> */