/* <aero-slide> */
section[class^="aero-movie-"] {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
}

section[class^="aero-movie-"]>div.text {
	margin: 0px 0px 0px 0px;
	padding: 8px 16% 8px 16%;
}


/* <asset> */

.aero-movie {
	background-color: rgb(255, 255, 255);
	height: fit-content;
	/*overflow: auto;*/
}

.aero-movie-video{
	width: 100%;
	/*overflow: auto;*/
}
