
#base-layer {
	z-index: 2;
	background-color: rgb(255, 255, 255);
	padding: 0px;
	margin: 0px;
}


#overlay {
	background-color: rgb(255, 255, 255);
	position: absolute;
	top: 0px;
	bottom: 0px;
	padding: 0px;
	margin: 0px;
}



.hidden {
	visibility: hidden;
	height: 0px;
	overflow: hidden;
}
