




@media (orientation : landscape) {
	
	*[platform="desktop-ony"]{
		visibility: visible;
	}

	*[platform="mobile-ony"]{
		visibility: hidden;
	}
}

@media (orientation : portrait) {

	*[platform="desktop-ony"]{
		visibility: hidden;
	}

	*[platform="mobile-ony"]{
		visibility: visible;
	}
}
