/* <aero-slide> */
aero-picture {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
	box-sizing: content-box;
	display: block;
}


/* <asset> */

aero-picture-asset {
	display: block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	height: 100%;
	padding: 0px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 2;
	aspect-ratio: 3 / 2;
	/*overflow: auto;*/
}
/* <asset> */



@media (orientation : landscape) {
	aero-picture {
		height: 40vh;
	}
}

@media (orientation : portrait) {
	aero-picture {
		height: 40vh;
	}
}



aero-slide>a {
	position: absolute;
	z-index: 10;
	overflow: hidden;
	padding: 12px 24px;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
		sans-serif;
	font-size: 20px;
	font-weight: normal;
	line-height: 16px;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	background-repeat: repeat-x;
	background-position: -1px -1px;
	background-size: 110% 110%;
	border: 1px solid rgba(240, 240, 255, 1.0);
	border-radius: 8px;
	appearance: none;
	/* appearance */
	color: #ffffff;
	background-color: rgba(28, 77, 45, 0.16);
	background-image: linear-gradient(-180deg, rgb(46 46 46/ 52%) 0%,
			rgb(16 16 16/ 67%) 90%);
	backdrop-filter: blur(2px);
	text-decoration: none;
}

aero-slide>a:hover {
	background-color: #269f42;
	background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
	background-position: -.5em;
	border-color: rgba(27, 31, 35, 0.5);
	text-decoration: none;
}

aero-slide>a:focus {
	box-shadow: 0 0 0 0.2em rgba(52, 208, 88, 0.4);
	text-decoration: none;
}

aero-slide>a:active {
	background-color: #279f43;
	background-image: none;
	border-color: rgba(27, 31, 35, 0.5);
	box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);
	text-decoration: none;
}

@media (orientation : landscape) {}

@media (orientation : portrait) {
	aero-slide h1 {
		font-size: 32px;
		line-height: 32px;
	}

	aero-slide h2 {
		font-size: 18px;
		line-height: 18px;
	}

	aero-slide p {
		font-size: 16px;
	}
}
