/* <t1-slide> */
t1-slide {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: content-box;
}

/* <text> */

.t1-slide-text {
	margin: 0px 0px 0px 0px;
	padding: 8px 12% 8px 12%;
	box-sizing: border-box;
}



/* <text> */


/* <asset> */

div.t1-slide-picture {
	padding: 0px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 2;
	aspect-ratio: 3 / 2;
	/*overflow: auto;*/
}
/* <asset> */



@media (orientation : portrait) {
	div.t1-slide-picture {
		margin: 0px 0px 0px 0px;
		width: 100%;
		height: 50%;
	}

	t1-slide[type="hThird"]>.t1-slide-picture {
		margin: 32px 32px 32px 32px;
		background-size: contain;
	}

	t1-slide[type="hThird"] {
		display: flex;
		flex-direction: row-reverse;
		padding: 8px 16% 8px 16%;
	}

}



/* <arrangements> */
@media (orientation : landscape) {


	t1-slide[arrangement="text-up"] {
		flex-direction: column;
	}

	t1-slide[arrangement="text-down"] {
		flex-direction: column-reverse;
	}

	t1-slide[arrangement="text-left"] {
		flex-direction: row;
	}

	t1-slide[arrangement="text-right"] {
		flex-direction: row-reverse;
	}

}


@media (orientation : landscape) {
	t1-slide[arrangement="text-left"] > div.t1-slide-text, t1-slide[arrangement="text-right"] > div.t1-slide-text {
		margin: 0px 0px 0px 0px;
		padding: 8px 8% 8px 8%;
		width: 50%;
	}

	t1-slide[arrangement="text-left"] > div.t1-slide-picture, t1-slide[arrangement="text-right"] > div.t1-slide-picture {
		margin: 0px 0px 0px 0px;
		padding: 0px;
		width: 50%;
		background-size: cover;
	}

	t1-slide[arrangement="text-up"] > div.t1-slide-text, t1-slide[arrangement="text-down"] > div.t1-slide-text {
		margin: 0px 0px 0px 0px;
		padding: 8px 8% 8px 8%;
	}

	t1-slide[arrangement="text-up"] > div.t1-slide-picture, t1-slide[arrangement="text-down"] > div.t1-slide-picture {
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: auto;
		margin-right: auto;
		padding: 4%;
		width: 50%;
		background-size: contain;
	}

	t1-slide[type="hThird"]>.t1-slide-picture {
		margin: 32px 32px 32px 32px;
		background-size: contain;
	}
}


@media (orientation : portrait) {
	div.t1-slide-text {
		margin: 0px 0px 0px 0px;
		padding: 8px 4% 8px 4%;
	}
}

/* </arrangements> */







/* <h1> */
.t1-slide-text>h1 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: lighter;
	max-width: 92%;
	padding: 8px;
	border-radius: 4px;
	margin: 0px;
	z-index: 8;
	text-align: left;
}

t1-slide[theme="dark"] h1 {
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.804); /* offset-x | offset-y | blur-radius | color */
}
t1-slide[theme="light"] h1 {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.804); /* offset-x | offset-y | blur-radius | color */
}

t1-slide h1>b {
	font-weight: 800;
}

@media (orientation : landscape) {
	.t1-slide-text>h1 {
		font-size: 64px;
		line-height: 64px;
	}
}

@media (orientation : portrait) {
	.t1-slide-text>h1 {
		font-size: 48px;
		line-height: 48px;
	}
}

.t1-slide-text>h1>span.emphasis {
	font-weight: bold;
}

/* </h1> */


/* <h2> */
.t1-slide-text>h2 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	max-width: 92%;
	padding: 8px;
	border-radius: 4px;
	/*white-space: nowrap;*/
	margin: 0px;
	z-index: 6;
	text-align: left;
}

t1-slide[theme="dark"] h2 {
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.804); /* offset-x | offset-y | blur-radius | color */
}
t1-slide[theme="light"] h2 {
	text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.804); /* offset-x | offset-y | blur-radius | color */
}

t1-slide h2>b {
	font-weight: 800;
	background-color: yellow;
}

@media (orientation : landscape) {
	.t1-slide-text>h2 {
		font-size: 24px;
		line-height: 24px;
	}
}

@media (orientation : portrait) {
	.t1-slide-text>h2 {
		font-size: 20px;
		line-height: 20px;
	}
}

/* </h2> */

/* <p> */
.t1-slide-text>p {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
		sans-serif;
	font-size: 20px;
	font-weight: normal;
	text-align: left;
	z-index: 4;
	padding: 0px 0px 0px 0px;
	padding: 6px 6px 6px 8px;
	border-radius: 4px;
	margin: 0px;
}

t1-slide[theme="dark"] p {
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.804); /* offset-x | offset-y | blur-radius | color */
}
t1-slide[theme="light"] p {
	text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.804); /* offset-x | offset-y | blur-radius | color */
}

t1-slide p>b {
	font-weight: 800;
	background-color: yellow;
}

@media (orientation : landscape) {
	.t1-slide-text>p {
		font-size: 16px;
	}
}

@media (orientation : portrait) {
	.t1-slide-text>p {
		font-size: 20px;
	}
}
/* </p> */

t1-slide>a {
	position: absolute;
	z-index: 10;
	overflow: hidden;
	padding: 12px 24px;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
		sans-serif;
	font-size: 20px;
	font-weight: normal;
	line-height: 16px;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	background-repeat: repeat-x;
	background-position: -1px -1px;
	background-size: 110% 110%;
	border: 1px solid rgba(240, 240, 255, 1.0);
	border-radius: 8px;
	appearance: none;
	/* appearance */
	color: #ffffff;
	background-color: rgba(28, 77, 45, 0.16);
	background-image: linear-gradient(-180deg, rgb(46 46 46/ 52%) 0%,
			rgb(16 16 16/ 67%) 90%);
	backdrop-filter: blur(2px);
	text-decoration: none;
}

t1-slide>a:hover {
	background-color: #269f42;
	background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
	background-position: -.5em;
	border-color: rgba(27, 31, 35, 0.5);
	text-decoration: none;
}

t1-slide>a:focus {
	box-shadow: 0 0 0 0.2em rgba(52, 208, 88, 0.4);
	text-decoration: none;
}

t1-slide>a:active {
	background-color: #279f43;
	background-image: none;
	border-color: rgba(27, 31, 35, 0.5);
	box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);
	text-decoration: none;
}

@media (orientation : landscape) {}

@media (orientation : portrait) {
	t1-slide h1 {
		font-size: 32px;
		line-height: 32px;
	}

	t1-slide h2 {
		font-size: 18px;
		line-height: 18px;
	}

	t1-slide p {
		font-size: 16px;
	}
}

.t1-slide-paragraph {
	font-size: 16px;
	padding: 32px 0px 32px 0px;
}

/* </t1-slides> */

/* <t1-slide-prime> */

/* </t1-slide-prime> */



/* <themes> */
t1-slide[theme="light"] {
	color: black;
	background-color: rgba(255, 255, 255, 0.24);
	/*backdrop-filter: blur(12px);*/
	/*text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.75);*/
	/*text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75);*/
}

t1-slide[theme="dark"] {
	color: white;
	background-color: rgb(19, 37, 79);
	/*backdrop-filter: blur(12px);*/
	/*text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.75);*/
}

/* </themes> */


/* <backgrounds> */
div[class^="background-"] {
	background-repeat: no-repeat;
}

.background-white {
	background-color: white;
}

.background-blue {
	background-color: blue;
}

.background-teal {
	background-color: teal;
}

.background-black {
	background-color: black;
}

.background-grey64 {
	background-color: rgb(64, 64, 64);
}

.background-grey128 {
	background-color: rgb(128, 128, 128);
}

.background-grey192 {
	background-color: rgb(192, 192, 192);
}

.background-pic {
	background-size: cover;
	background-position: center;
}


/* </backgrounds> */