
* {
    box-sizing: border-box;
}


body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(236, 236, 236);
}

#mg-mail-wrapper {
    background-color: white;
    border-radius: 8px;
    border: 1px solid #c8c8c8;
    width: 800px;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%, 10px);
    padding: 16px 24px 16px 24px;
}


.mg-mail-logo {
    height: 64px;
}

.mg-mail-logo > div {
    width: 360px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0px);
}




h1 {
    font-family: Helvetica, "Google Sans", Roboto, RobotoDraft, Arial, sans-serif;
    font-size: 32px;
    color: black;
    letter-spacing: normal;
    font-weight: 500;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 20px;
    margin: 16px 0px 8px 0px;
}

h2 {
    font-family: Helvetica, "Google Sans", Roboto, RobotoDraft, Arial, sans-serif;
    font-size: 20px;
    color: black;
    letter-spacing: normal;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 20px;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: black;
    letter-spacing: normal;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
}